.jumbo{
    background-image: url(../img/landing.jpeg);
    background-repeat: no-repeat;
    height: 250px;
}
.header{
    font-size: 60px; 
       color: white;
}
.logo{
    width:20%;
    align-content: center
}
.sidees{
margin-top: 10%
}
.drink{
    margin-top: 10%
    }









9